.cards {
    height: 12rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    border-radius: 1.875rem;
    background: #000;
    box-shadow: 0px 0px 4px 6px #FFF;
    margin: 2.2rem 0rem 1.4rem 0rem;
  
}

.cards img {
    width: 8rem;
    height: 10rem;
    border-radius: 6.25rem;
}
/* .cards img:hover{
    -webkit-mask-image: linear-gradient(to left , transparent 25%,red 95%);
    mask-image: linear-gradient(to left,transparent 25%,red 55%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
} */
.cards:hover{
    transform: scale(1.01);
    transition: 1s linear ease-in-out;
    box-shadow: 0px 0px 4px 6px #b61717;
  
}


.Text {
    height: 20px;
    width: 100px;
}

.Text h4 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Text h6 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 0.7rem;
    font-weight: 200;
}

