@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
header {
    margin-top: 30px;
    width: 35%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 55px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%);
}

.HeadComp{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}

.image {
    align-self: center;
    width: 106px;
    height: 35px;
    flex-shrink: 0;
}

.navlist {

    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    
}
.navlist li {
    list-style: none;
    margin: 0 10px;
}
.navlist li a {
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .link {
    font-size: large;
} */