.ImageHolder {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.ImageHolder img {
  width: 50%;
  height: 50%;
}

.IntroText {
    color: white;
    display: flex;
    width: 100%;
    justify-content: center ;
}

.IntroText img {
    margin-top: 10px;
    margin-right: 30px;
    width: 100px;
    height: 100px;
}

.IntroText p {
    text-indent: 40px;
    width: 55%;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    margin-top: 20px;
}