.cards {
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1.5em;
    border-radius: 1.875rem;
    background: #000;
    border: 1px solid rgba(255, 0, 0, 0.589);
    margin: 2.2rem 0rem 1.4rem 0rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profilePic img {
    width: 100%;
    height: 200px;
    border-radius: 6.25rem;
    object-fit: cover;
}

.cards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 28px rgba(255, 0, 0, 0.75);
}

/* Text Content */
.Text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.Text h4 {
    margin: 0;
    color: #FFF;
    font-family: 'Afacad', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.Text h6 {
    margin: 0;
    margin-top: 10px;
    color: #FFF;
    font-family: 'Afacad', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.linkedin {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-right: 90px;
}



@media screen and (max-width: 768px) {
    .cards {
        width: 140px;
        height: 280px;
    }

    .cards img {
        height: 140px;
    }

    .Text h4 {
        font-size: 16px;
    }

    .Text h6 {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .cards {
        width: 120px;
        height: 260px;
        padding: 1em;
    }

    .cards img {
        height: 120px;
        border-radius: 4rem;
    }

    .Text h4 {
        font-size: 14px;
    }

    .Text h6 {
        font-size: 10px;
    }
}
