.chatBoxA {
    width: 76%;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    /* background-color: #d10000; */
    margin-left: 1%;
    /* padding-left: 10px;
    padding-right: 10px; */
    
}

.chatWindowA {
    /* margin-top: 20px; */
    /* padding-right: 100px; */
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}

.chatBoxAp {
    text-align: justify;
    margin: 0;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #ecece6;
    font-family: "Afacad";
}

.botIcon {
    width: 50px;
    padding-top: 35px;
    align-self: flex-start;
    margin-left: 10%;
}

.chatButtons{
    /* padding-top: 35px; */
    align-self: flex-start;
    margin-left: 14%;
    margin-bottom: 40px;
}



@media (max-width: 768px) {
   
    .chatWindowQ, .chatWindowA {
        justify-content: center;
       
    }
    .chatBoxQ {
        width: 70%;
        margin-right: 0;
    }
    .chatBoxA {
        width: 80%;
        margin-left: 0;
    }
    .botIcon, .chatButtons {
        margin-left: 5%;
    }
    .chatBoxAp{
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .chatBoxA{
        padding: 5px;
    }
    .chatBoxQ, .chatBoxA {
        width: 90%;
        font-size:12px;
      
    }
    .botIcon, .chatButtons {
        margin-left: 2%;
    }
    .chatBoxAp{
        font-size: 18px;
    }
}
