/* Footer.css */
.footer {
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-content {
    max-width: 1200px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  
  .footer-logo {
    width: auto;
    height: 50px;
    margin-right: 1rem;
  }
  
  .footer-text {
    font-size: 0.9rem;
    margin: 0;
  }
  
  .footer-right {
    display: flex;
    gap: 1rem;
  }
  
  .footer-link {
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .footer-link:hover {
    color: #ccc;
  }


  .line {
    width: 84%;
    height: 2px;
    background-color: white;

  }

  .link {
    width: 38px;
  }

  .insta {
    width: 38px;
    height: 39px;
  }

  .mail {
    width: 38px;
    height: 41px;
  }

  .end-content {
    margin-top: 100px;
  }