.dashboard-containerSidebar {
  display: flex;
  background-color: white;
  color: black;
  font-family: 'Afacad';
  /* position: absolute; */
}

.sidebar {
  width: 60px; /* Collapsed width */
  transition: width 0.3s;
  background-color: #f8f9fa; /* Modify as per design */
  overflow: hidden;
  font-size: 18px;
  height: 100vh;
  /* position: absolute; */
}

.sidebar.expanded {
  width: 250px; /* Expanded width */
}

.header {
  cursor: pointer;
  background-color: rgb(228, 79, 79); /* Header background color */
  color: white;
  text-align: center;
  padding: 16px 8px;
}

.menu {
  margin-top: 20px; 
}

.menu a {
  text-decoration: none;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  cursor: pointer;
  color: black;
  gap: 5px; /* Text color */
  font-size: 1.5rem;
}
.menu-item span{
  font-size: 1.2rem;
}

.menu-item:hover {
  background-color: #e9ecef; /* Hover effect */
}

.active-menu-item {
  background-color: #e9ecef;
  color: white;
}

.notification-badge {
  background-color: #dc3545; /* Notification badge color */
  color: white;
  border-radius: 12px;
  padding: 2px 6px;
  margin-left: auto;
}

.dashFooter{
  bottom: 0;
  position: absolute;
  padding: 10px;
}
.dashFooter-item {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  cursor: pointer;
  color: black;
  gap: 7px; /* Text color */
  font-size: 1.5rem;
}
.dashFooter-item span{
  font-size: 1.2rem;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .sidebar.expanded {
    width: 0; /* Keep it hidden when expanded */
  }

  .header {
    padding: 12px 4px; /* Adjust header padding for smaller screens */
  }

  .menu-item {
    padding: 5px 4px; /* Adjust padding for smaller screens */
  }

  .footer {
    padding: 12px 4px; /* Adjust footer padding for smaller screens */
  }
}
